/*
 *
 * MMM-EventCountdown
 *
*/

.tableCountdown{
    border: 0px solid green;
    margin-left:0px; 
    margin-right: 0px;
    border-spacing: 0px;
    border-collapse: separate;
}

.tableHead{
    border: 0px solid green;
    color: #ffffff; /*Weiss*/ 
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 2rem;
    text-align: center;
}

.tableTime{
    border: 0px solid green;
    border-collapse: collapse;
    border-spacing: 0px;
    color: #ffffff; /* white */
    font-size: 7.0rem;
    line-height: 1em;
    letter-spacing: -3px;
    width: 9rem;
}

.tableFooter{
    border: 0px solid red;
    border-collapse: collapse;
    font-size: 1.2rem;
    align-content: center;
    text-align: center;
    /*height: 2em;*/
    height: 500%;
    text-align: center;
    vertical-align: top;
}

.tableFooterlow{
    border: 0px solid red;
    border-collapse: collapse;
    font-size: 1.2rem;
    align-content: center;
    text-align: center;
    line-height: 1em;
    /*line-height: 500%;*/
    text-align: center;
    vertical-align: middle;
}

.countdown1{
    .color: #327da8; /*graublau*/
}